@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');


body {
    margin: 0;
    font-family: 'Teko', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;

    margin: 0 30px;
}

nav p {
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}