@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Teko', sans-serif;
}

h1 {
    font-size: 4rem;
}

header {
    height: calc(100vh - 150px);
    background: no-repeat center/cover url(img/header-img.jpg);
}

.header-content {
    max-height: 400px;
    margin: auto 200px ;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: rgb(6, 172, 150);
}

nav{
    display: flex;
    justify-content: space-between;

    margin: 0 30px;
}

nav p {
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

